[Unit]
Description=raspdif
After=syslog.service

[Service]
ExecStartPre=/usr/bin/rm /tmp/spdif_fifo
ExecStartPre=/usr/bin/mkfifo /tmp/spdif_fifo -m 777
ExecStart=/usr/local/bin/raspdif --input /tmp/spdif_fifo
StandardOuptut=syslog
Standardrror=syslog
SyslogIdentifier=raspdif

[Install]
WantedBy=multi-user.target
